[submodule "ros_packages/isaac_sim_pointcloud_full_publisher"]
	path = ros_packages/isaac_sim_pointcloud_full_publisher
	url = https://github.com/REGATTE/isaac_sim_pointcloud_full_publisher.git
[submodule "ros_packages/libnabo"]
	path = ros_packages/libnabo
	url = https://github.com/norlab-ulaval/libnabo.git
